@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates';
}

body
{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0vh;
    background: grey ;

    
      color:black;
      background-size: cover;
      background-color:white;
      background: url(imagetest.jpg) no-repeat center fixed;
      background-attachment:fixed;
      
    
} 
#bande
{
/* background-color: honeydew;
opacity: 0.5; */

}
ul
{
  position: relative;
}
ul li
{
  position: relative;
  list-style: none;
}
ul li a
{
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2em ;
  font-weight: 300;
  color: rgba(255,255,255,.2);

}
ul li a:before
{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  background: url("wavegreen2.png");
  -webkit-background-clip: text; 
  background-repeat: repeat-x;
  animation: animate 2s linear infinite;
  transition: 0.5s;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
}
ul li a:hover:before
{
  width: 100%;
}
@keyframes animate
{
  0%
  {
    background-position: 0px;
  }
  100%
  {
    background-position: 200px;
  }
}



title {text-align: center; color: brown;}
h1 {
  font-family: verdana ;
  font-style: oblique ;
  text-align: top center ; color: brown;}
 body 
.menu1 { 
      position:fixed;
      background-color: rgba(155, 155, 155, 0);
      left: 40px;
      top:200px;
      height:100%;
      font-weight:bold;
      text-decoration-line: none;
  } 
